torch
torchvision
timm==0.6.13
Pillow
blobfile
mypy
numpy
pytest
requests
einops
tensorboardX
scipy
ftfy
opencv-python
sentencepiece
pyarrow
torchmetrics
transformers
deepspeed
pycocotools
pycocoevalcap
torchscale==0.3.0